<!-- <router-outlet></router-outlet> -->
<app-message></app-message>
<div class="grid place-items-center h-screen w-screen">
  <div class="flex flex-col space-y-3 w-48">
    <app-button (click)="fileInput.click()">
      {{ fileName$ | async }}
    </app-button>
    <app-dropdown
      [labelField]="'label'"
      [items]="items"
      initalText="Convert to"
      (onSelect)="onConversionTypeSelect$.next($event)"
    ></app-dropdown>
    <input
      #fileInput
      [hidden]="true"
      type="file"
      (change)="onFileSelect$.next(fileInput?.files?.item(0))"
    />

    <app-button (click)="onConvertBtnClick$.next()"> Convert! </app-button>
    <app-progress-bar
      *ngIf="conversionProgress$ | async as conversionProgress"
      [progress]="conversionProgress"
    ></app-progress-bar>
  </div>
</div>
